.manage-system {
  padding: 70px;
  display: flex;
}

.manage-system .options {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 50px;
  gap: 20px;
}

.manage-system .option {
  padding: 19px;
}

.manage-system .option-selected {
  background-color: var(--color-two);
}

.manage-system .manage-container {
  flex-grow: 1;
  height: fit-content;
  padding: 35px;
}

.manage-system .option-card-title {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-border);
}

.manage-system .option-card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 21px;
}

.manage-system .option-card-content .text-input {
  margin-top: 0px;
  margin-right: 16px;
  flex-grow: 1;
}

.manage-system .option-card-content .btn-rect {
  height: 40px;
}

.manage-system .option-card-content .btn-rect .text {
  font-size: 15px !important;
}

.manage-system .checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.manage-system .tag-input {
  display: flex;
  flex-grow: 1;
  margin-top: 0px;
  margin-right: 16px;
}
