.btn-rect {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 40px 0px 40px;
  height: 50px;
  border-radius: 5px;
  border: none;
  gap: 10px;
}

.btn-rect .lnr {
  color: white;
  font-size: 20px;
}

.btn-rect:hover {
  opacity: 0.8;
}

.btn-rect.is-blue {
  background-color: var(--color-accent);
}

.btn-rect.is-green {
  background-color: var(--color-green);
}

.btn-rect.is-white {
  background-color: var(--color-one);
}

.btn-rect.is-red {
  background-color: var(--color-red);
}

.btn-rect.is-small {
  height: 40px;
  padding: 0px 20px 0px 20px;
}

.btn-rect.is-small .text {
  font-size: 15px !important;
}
