:root {
  --font-default: 'Lato', sans-serif;
  --color-border: #dfdfdf;
  --color-background: #eee;
  --color-text: #444;
  --color-one: #fff;
  --color-two: #8c8c8c;
  --color-accent: #13335f;
  --shadow-default: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  --border-radius: 5px;
}

body {
  margin: 0;
  height: 100%;
  font-family: var(--font-default);
  color: var(--color-text);
  background: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.card {
  border-radius: 5px;
  padding: 10px;
  filter: drop-shadow(-1px -1px 6px rgba(0, 0, 0, 0.1));
  display: flex;
  flex-direction: column;
}

.button:focus {
  box-shadow: none;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
